<div class="container text-center">
  <form enctype="multipart/form-data" #form>
    <div class="form-group form-signin">
      <br>
      <h1>Upload CSV Here</h1>
      <br>
      <input type="file" class="form-control-file" id="file" (change)="selectFile($event)"  name="file" enctype="multipart/form-data" accept=".csv">
      <br>
    </div>
  </form> 
  
  <button class="btn btn-primary btn-block" (click)="handleUpload()" [disabled]="!file">Upload</button>


  <br>
  <button class="btn btn-primary btn-block" (click)="handleCancel()">Cancel</button> 
  <br>
  </div>
  <!-- <input type="file" class="form-control-file" id="file" (change)="selectFile($event)"  name="file" enctype="multipart/form-data" accept=".csv"> -->
